<%= form_tag upload_path, method: :post, multipart: true, class: 'form-inline' do %>

  <label class="btn btn-primary btn-file glyphicon glyphicon-cloud-upload">
    <strong>Upload </strong>
    <%= file_field_tag :sale_file, style: 'display: none;', class: 'custom-upload-button' %>
  </label>

  <%= submit_tag :enviar %>
<% end %>
