<div class='jumbotron'>
  <h1> Registro de vendas </h1>
</div>

<%= render partial: 'form' %>

<hr />

<% if @uploads.empty? %>
  <em> Sem dados de vendas </em>
<% else %>
  <table class='table-striped'>
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Preço</th>
      <th>Unidades</th>
      <th>Endereços</th>
      <th>Fornecedor</th>
    </tr>
    <% @uploads.each do |upload| %>
      <% upload.sales.each do |sale| %>
        <tr>
          <td> <%= sale.id %> </td>
          <td> <%= sale.description %> </td>
          <td> <%= sale.price %> </td>
          <td> <%= sale.units %> </td>
          <td> <%= sale.address %> </td>
          <td> <%= sale.provider %> </td>
        </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <td colspan=5>
          <span class='pull-rigth'>R$ <%= upload.sales.map{|s| s.price * s.units}.reduce(:+) %></span>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
