<!DOCTYPE html>
<html>
<head>
  <title>Esplunka</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='stage' class='container'>

    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="/about">Sobre</a></li>
          <li role="presentation"><a href="mailto: paulopatto@paulopatto.com">Contato</a></li>
        </ul>
      </nav>

      <h3 class="text-muted">Splunka</h3>
    </div>


      <%= yield %>
  </div>
</body>
</html>
